<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

    <!-- ruller !-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/gokertanrisever/leaflet-ruler@master/src/leaflet-ruler.css" integrity="sha384-P9DABSdtEY/XDbEInD3q+PlL+BjqPCXGcF8EkhtKSfSTr/dS5PBKa9+/PMkW2xsY" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/gh/gokertanrisever/leaflet-ruler@master/src/leaflet-ruler.js" integrity="sha384-N2S8y7hRzXUPiepaSiUvBH1ZZ7Tc/ZfchhbPdvOE5v3aBBCIepq9l+dBJPFdo1ZJ" crossorigin="anonymous"></script>

    <style>#map {
        height: 1080px;
    }</style>
</head>
<body>

<div id="map"></div>



<script th:inline="javascript">

    var map = L.map('map').setView([63.62, 10.13], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);



    var tracks = [[${tracks}]];
    var badShipIcon = L.icon({
        iconUrl: 'https://img.icons8.com/glyph-neue/2x/viking-ship.png',
        iconSize: [38, 45],
        iconAnchor: [22, 40],

    })
    var friendShipIcon = L.icon({
        iconUrl: 'https://img.icons8.com/color/2x/viking-ship.png',
        iconSize: [38, 45],
        iconAnchor: [22, 40],

    })


    tracks.forEach(value => {
        var polygon;
        var xPos = value.x;
        var yPos = value.y;

    var circle=L.circle([xPos, yPos], {
        color: 'blue',
        fillColor: 'rgba(255,0,51,0.09)',
        fillOpacity: 0.5,
        radius: value.visibilityInKm
    }).addTo(map);
    L.polygon([[xPos + 0.00, yPos + 0.00], [xPos + 0.02, yPos + 0.02],]).addTo(map)
    L.polygon([[xPos + 0.02, yPos + 0.02], [xPos + 0.04, yPos + 0.05],]).addTo(map)
    L.polygon([[xPos + 0.04, yPos + 0.05], [xPos + 0.04, yPos + 0.07],]).addTo(map)


    var marker = L.marker([xPos, yPos], {icon: badShipIcon,}).addTo(map)
        .on('mouseover', () => {
            marker.bindPopup("<b>Name</b>:" + value.name
                + "<br> <b>Visibility[km]</b>:" + value.visibilityInKm
                + "<br> <b>PosX:</b>" + value.x
                + "<br> <b>PosY:</b>" + value.y
                + "<br> <b>DestinationX:</b>" + value.destinationX
                + "<br> <b>DestinationY:</b>" + value.destinationY
           ).openPopup();
            polygon = L.polygon([
                [value.x, value.y],
                [value.destinationX, value.destinationY],
            ]).addTo(map);
        })
        .on('mouseout', () => {
            map.removeLayer(polygon);
        })

        .on('click',()=> {
            marker.setIcon(friendShipIcon)
        })
        .on('dblclick',()=> {
            marker.setIcon(badShipIcon)
        })
    ;


    })

    L.control.ruler().addTo(map);
    L.control.scale().addTo(map);

</script>

</body>
</html>